*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
  background-color: #02010F;
  color: #fff;
}

.header {
    align-items: center;
    font-size: 34px;
    display: flex;
    padding: 8px 64px;
    justify-content: space-between;
    background-color: #02010F;
    border-bottom: 1px solid #02010F;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.empty {
    color: aliceblue;
    width: 4%;
}
.nav_menu{
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 90px;
    height: auto;
}

.nav_icon {
    width: 24px;
    height: auto;
    transition: .4s;
    margin-left: 12px;
}

.nav_icon:hover {
    opacity: .5;
    transition: .4s;
}

.content_zone {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 45px;
}


.input_search {
    padding: 5px 10px;
    width: 350px;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid #FE2BF6;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #FE2BF6;
    outline: none;
}

.input_search:focus {
    border-bottom: 3px solid #FE2BF6;
}

.recomended_zone {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_remoneded_zone {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
}

.list_card {
    width: 100%;
    margin: 45px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_car {
    border: 2px solid #0EFDFA;
    border-radius: 15px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 15px 25px;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_car_add {
    border: 2px solid #0EFDFA;
    border-radius: 15px;
    width: 250px;
    padding: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 25px;
    height: 350px;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_car_add img{
    width: 100%;
    height: 100%;
}

.card_car_add:hover {
    transition: .4s;
    box-shadow: rgb(255, 0, 234) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

.card_car:active {
    transition: .4s;
    box-shadow: rgb(255, 0, 234) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

.image_car {
    width: 100%;
    height: 50%;
    border-radius: 15px ;
}

.image_car img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.title_car {
    font-weight: 400;
    font-size: 16px;
    margin: 8px 16px;
}

.info_about_car {
    margin: 8px 16px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
}

.incorrect_input {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: #00E6F6;
  margin: 25px auto 0px;
  display: none;
}

/*-----------------------------------------------------------------------------
                        Login page                                          */
.login_body {
    background-color: #02010F;
}
                        .login_zone {
    background-color: #02010F;
    width: 100%;
    height: 100%;
    padding: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#registration_error_v2 {
  display: block;
}

.login_zone img {

    
}

.classic_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto;
    padding: 25px;
}

.classic_form input {
    margin-bottom: 25px;
}

.button-49,
.button-49:after {
  width: 95px;
  height: 46px;
  line-height: 48px;
  font-size: 16px;
  margin: 0 auto;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FE2BF6 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {

  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.button-49:hover {
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    margin: 0 auto;
    width: 90px;
    height: 46px;
    line-height: 44px;
  }
}

#large_logo {
    width: 200px;
    height: auto;
}

.sign_up_href {
    font-family: 'Nanum Gothic', sans-serif;
    color: #00E6F6;
    font-size: 14px;
    transition: .2s;
}

.sign_up_href:hover {
    opacity: .5;
    transition: .2s;
}

/* ----------------------------------------------------------------------------
                      Registration page                                   */

#registration_button {
  width: 250px;
  text-align: center;
  margin-top: 25px;
}


/* ----------------------------------------------------------------------------
                      Profile user page                                   */


.hello_user {
  margin: 25px auto;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border: none;
}

input[type=file]::file-selector-button:hover {
  opacity: .4;
  transition: .4s;
}

select {
  margin: 15px 0px;
  border-radius: 5px;
  height: 25px;
}

#your_car_zone {
  margin: 25px auto;
}


/*-----------------------------------------------
                        car page            */
.car_page_zone {
  width: 75%;
  margin: 0 auto;
  padding: 45px;
  display: flex;
  flex-direction: column;
}    

.header_car_zone {
  width: 100%;
  height: auto;
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images_car_zone {
  width: 100%;
  height: auto;
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  flex-wrap: wrap;
}


.description_car_zone {
  width: 100%;
  height: auto;
  margin: 15px auto;
  padding: 45px;
  text-align: start;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}

#info_about_car_detail {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: start;
  padding: 0 45px;
}

#add_car_button {
  width: 200px;
  margin: 20px auto 0px;
}